<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sign</key>
	<string>LOOK</string>
	<key>qq</key>
	<string>643401727</string>
	<key>qqGroup</key>
	<string>781962566</string>
	<key>qqGroupidkey</key>
	<string>3b64fde591dfbafa5bb3f221d5705294050a50ffb8d1137e7ebacd7ceff45413</string>
	<key>mark</key>
	<string>0</string>
	<key>markInfo</key>
	<string>感谢大家的支持我会努力做的更好</string>
	<key>markLink</key>
	<string>http://qm.qq.com/cgi-bin/qm/qr?k=boq23x_KZTF01KRcuQP3i2pY9fCkuFTu</string>
</dict>
</plist>
